<header class="header">
    <div class="header__div">
        <a routerLink="/"><img class="header__div--logo" src="assets\logo_s.png" alt=""></a>
        <a class="header__div--titulo" routerLink="/">Shopéame!</a>
    </div>
    <nav class="header__nav">
      <a class="header__nav--home" routerLink="/">
        <div class="header__nav--div">
            <img class="header__nav--img1" src="assets\logo_radiacion.png" alt="">
            <p class="header__nav--text">Home</p>
        </div>
      </a>
      <a class="header__nav--prods" routerLink="/products">
        <div class="header__nav--div">
            <img class="header__nav--img2" src="assets\logo_binocular.png" alt="">
            <p class="header__nav--text">Prods.</p>
        </div>
      </a>
      <a class="header__nav--gestion" routerLink="/gestion">
        <div class="header__nav--div">
            <img class="header__nav--img3" src="assets\logo_timon.png" alt="">
            <p class="header__nav--text">Gestión</p>
        </div>
      </a>
    </nav>
  </header>
